# Default ignored files
/shelf/
/workspace.xml
/out
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Zeppelin ignored files
/ZeppelinRemoteNotebooks/
# Системные файлы
.DS_Store
Thumbs.db

# Конфигурации IDE
.idea/
*.iml

# Зависимости
node_modules/
venv/
dist/

# Сгенерированные файлы
*.o
*.pyc
__pycache__/

# Конфиденциальные данные
.env
*.key

# Логи
*.log
*.tmp

# Временные файлы
*.swp
*.bak
